@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Poppins:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #E8FA27;
}

.conteudo-centro {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo-centro__apresentacao{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-centro__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;;
}

.conteudo-centro__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.conteudo__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.conteudo__links__botao {
    background-color: #E8FA27;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21px 0;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}